@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-04-15 13:57:30
 * @version $Id$
 */


body {
	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
} 

/*第一个作业(jQ)*/
.m-work_1-1 {
	width: 800px;
	height: 400px;
	border:2px solid #000;
	text-align: center;
	margin-top: 50px;	
}

.m-work_1-1 img {
	margin-top: 20px;
	padding-top: 20px;
	width: 130px;
	height: 130px;
	float: center;
	padding-left: 15px;

}

#outerdiv {
	position: relative;
	margin-top: -370px;
	top:0;
	left:0;
	background:rgba(0,0,0,0.7);
	z-index:2;
	width:800px;
	height:400px;
	display:none;
}

#innerdiv {
	position:absolute;
}

#bigimg {
	border:20px solid #fff;
}

/*第一个作业(js)*/
#js1 {
	width: 800px;
	height: 400px;
	border:2px solid #000;
	position: relative;
	text-align: center;
	margin-top: 50px;
}

img {
	width: inherit;
	height: inherit;
}

ul li{
	width: 130px;
	height: 130px;
	padding-left: 20px;
	padding-top: 20px;
	list-style: none;
	float: left;
}

.m-work_1-2 ul li:first-child{
	padding-left: 0px;
}
.m-work_1-2 ul li:nth-child(6){
	padding-left: 0px;
}

.bg{ 
	background:#000;
	opacity: 0.5;
	width:800px;
	height: 405px;
	margin-top: -40px;
}

.maxpic{
	width: 400px;
	height: 300px;
	position: absolute;
	border: 20px solid white;
	top: 30px;
	left: 200px;
}
/*第二个作业（jQ）*/
.m-work_2-1 {
	margin-top: 40px;
	height: 500px;
}

.m-work_2-1 ul {
	list-style: none;
	margin-bottom: 0;
	height: 55px;
}

.menu{
	width: 100px;
	height: 50px;
	border: 2px solid #000;
	background-color: #fff;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	border-bottom: none;
}
.menu:nth-child(2) {
	border-left: none;
	border-right: none;
}
.content{
	width: 600px;
	height: 300px;
	border: 2px solid #000;
	text-align: center;
	line-height: 300px;
	position: relative;
	font-weight: bold;
	font-size: 100px; 
	color: grey;
}

/*第二个作业js*/
.m-work_2-2 {
	margin-top: 40px;
	height: 500px;
}

.m-work_2-2 ul {
	list-style: none;
	margin-bottom: 0;
	height: 55px;
}

.menu2{
	width: 100px;
	height: 50px;
	border: 2px solid #000;
	background-color: #fff;
	display: inline-block;
	line-height: 50px;
	text-align: center;
}
.menu2:nth-child(2) {
	border-left: none;
	border-right: none;
}
.content2{
	margin-top: 18px;
	margin-left: 40px;
	width: 600px;
	height: 300px;
	border: 2px solid #000;
	text-align: center;
	line-height: 300px;
	position: relative;
	font-weight: bold;
	font-size: 100px; 
	color: grey;
	display: none;
}

.vcontent{
	margin-top: 18px;
	margin-left: 40px;
	width: 600px;
	height: 300px;
	border: 2px solid #000;
	text-align: center;
	line-height: 300px;
	position: relative;
	font-weight: bold;
	font-size: 100px; 
	color: grey;
	display: block;
}

/*第三个作业js*/
.m-work_3-1 {
	margin-top: 40px;
	width: 500px;
	height: 250px;
	border:2px solid #000;
	text-align: center;
	margin-left: 100px;
}

.m-work_3-1 table{
	margin: auto;
	border-collapse:collapse; 
	width: 400px;
	border:1px solid #000;
}

.m-work_3-1 caption{
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}

.m-work_3-1 tr{
	border:1px solid #000;
}

.m-work_3-1 td{
	border:1px solid #000;
	border-collapse:collapse;
}

.m-work_3-1 td:first-child{
	width: 10%;
}

.m-work_3-1 td:nth-child(2){
	width: 80%;
}

.m-work_3-1>button {
	font-weight: bold;
	width: 150px;
	background-color: #2E8B57;
	color: #fff;
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}

/*第三个作业jQ*/
.m-work_3-2 {
	margin-top: 40px;
	width: 500px;
	height: 250px;
	border:2px solid #000;
	text-align: center;
	margin-left: 100px;

}

.m-work_3-2 table{
	margin: auto;
	border-collapse:collapse; 
	width: 400px;
	border:1px solid #000;
}

.m-work_3-2 caption{
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}

.m-work_3-2 tr{
	border:1px solid #000;
}

.m-work_3-2 td{
	border:1px solid #000;
	border-collapse:collapse;
}

.m-work_3-2 td:first-child{
	width: 10%;
}

.m-work_3-2 td:nth-child(2){
	width: 80%;
}

.m-work_3-2>button {
	font-weight: bold;
	width: 150px;
	background-color: #2E8B57;
	color: #fff;
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}
