@charset "UTF-8";

 /*手机*/
 /*整个界面*/
#phone {
 	height: 800px;
 	background-color: #eee;
 	width: 400px;
 }

/*第一部分*/
#m-firpart{
	background-color: #00c2af;
	height: 80px;
}

.col-xs-2 {
	height: 80px;
}

.col-xs-3 {
	background: #fff;
	height: 100px;
}

.row:first-child>.col-xs-3{
	background: #00c2af;
	height: 80px;
}

.form-control {
	background-color: rgba(0,0,0,0.1);
	position: relative;
	text-align: center;
	margin-top: 20px;
	border: none;
	font-weight: bold;
	color: #fff;
}

.form-control:first-child {
	background-color: #00c2af;
}

.fa.fa-search{
	position: absolute;
	z-index: 5;
	margin-top: 30px;
	color: #fff;
}

.fa.fa-user {
	color: #fff;
	font-size: 35px;
	margin-top: 10px;
	text-align: center;
}

.col-xs-2>span{
	margin-left: 4px;
	color: #fff;
}

/*第二部分*/
#m-secpart.row {
	height: 200px;
	background: #fff;
	border-top: 1px;
	border-bottom: 1px;
}

.fa.fa-circle {
	font-size: 70px;
	margin-top: 5px;
}

#secl1>.fa.fa-circle {
	color:#ff8a05;
}

#secl1>span {
		padding-left: 21px;
		font-weight: bold;
		color: #aaa;
}

#secl2>.fa.fa-circle {
	color:#ff6640;
}

#secl2>span {
		padding-left: 21px;
		font-weight: bold;
		color: #aaa;
}

#secl3>.fa.fa-circle {
	color:#7089f5;
}

#secl3>span {
		padding-left: 21px;
		font-weight: bold;
		color: #aaa;
}

#secl4>.fa.fa-circle {
	color:#ff8905;
}

#secl4>span {
		padding-left: 21px;
		font-weight: bold;
		color: #aaa;
}

#secl5>.fa.fa-circle {
	color:#00cdf0;
}

#secl5>span {
		padding-left: 21px;
		font-weight: bold;
		color: #aaa;
}

#secl6>.fa.fa-circle {
	color:#ffbb53;
}

#secl6>span {
		padding-left: 21px;
		font-weight: bold;
		color: #aaa;
}

#secl7>.fa.fa-circle {
	color:#00cdf0;
}

#secl7>span {
		padding-left: 21px;
		font-weight: bold;
		color: #aaa;
}

#secl8>.fa.fa-circle {
	color:#ff8906;
}

#secl8>span {
		padding-left: 21px;
		font-weight: bold;
		color: #aaa;
}

/*第三部分*/
#m-thipart {
	height: 200px;
	margin-top: 10px;
	background: #fff;
}
/*左边*/
#thll {
	height: 190px;
	/*background: #597;*/
}

#thll>span:nth-child(2) {
	color: #4fbe45;
	font-size: 15px;
	font-weight: bold;
}

#thll>span:nth-child(3) {
	color: #aaaaaa;
	font-size: 10px;
	font-weight: bold;
}

.square1 {
	width: 100px;
	height: 100px;
	background: #505458;
	margin-top: 10px;
}

/*右边*/
#thlr {
	height: 190px;
	background: #fff;
	margin-top: -185px;
	margin-left: 135px;
}

/*右边底部*/
#thlr-bottom {
	/*margin-top: 0px;*/
	background: #fff;
	height: 106px;
}

#thlr-bottom-l {
	/*background: #292;*/
	height: 100px;
}

#thlr-bottom-r {
	/*background: #890;*/
	height: 100px;
}

#thlr>span:nth-child(1) {
	color: #ff340d;
	font-size: 15px;
	font-weight: bold;
}

#thlr>span:nth-child(2) {
	color: #aaaaaa;
	font-size: 10px;
	font-weight: bold;
}

.square2 {
	width: 70px;
	height: 70px;
	background: #505458;
	margin-top: -55px;
	margin-left: 140px;
}

#thlr-bottom-l>span {
	color: #ff65b6;
	font-size: 15px;
	font-weight: bold;
	/*padding-top: 2px;*/
}

.square3 {
	width: 50px;
	height: 50px;
	background: #505458;
	/*margin-top: -55px;*/
	margin-left: 40px;
}

#thlr-bottom-r {
	margin-top: -90px;
}

#thlr-bottom-r>span:first-child {
	color: #ff8a05;
	font-size: 15px;
	font-weight: bold;
}

#thlr-bottom-r>span:nth-child(2) {
	color: #aaaaaa;
	font-size: 10px;
	font-weight: bold;
}

.time1 {
	width: 20px;
	height: 20px;
	background: black;
	font-weight: bold;
	color: white;
	text-align: center;
	display: inline-block;
	margin-top: 10px;
}

#thlr-bottom-r>.maohao{
	display: inline-block;
	font-weight: bold;
}

.time2 {
	width: 20px;
	height: 20px;
	background: black;
	font-weight: bold;
	color: white;
	text-align: center;
	display: inline-block;
}

/*第四部分*/
#m-foupart {
	margin-top: 10px;
	height: 100px;
	background: white;
}

/*左边*/
#foll {
	height: 100px;
	/*background: #ccc;*/
}

#foll-left {
	margin-top: 30px;
	margin-left: -10px;
}

#foll-left>span:first-child {
	font-size: 15px;
	color: #ff8a05;
	font-weight: bold;
}

#foll-left>span:nth-child(2) {
	color: #aaaaaa;
	font-size: 10px;
	font-weight: bold;
}

.square4 {
	width: 80px;
	height: 80px;
	background: #505458;
	margin-top: 10px;
}

/*右边*/
#folr {
	/*height: 100px;*/
	margin-top: -80px;
}

.square5 {
	/*margin-top: 0px;*/
	width: 80px;
	height: 80px;
	background: #505458;
}

#folr-left {
	margin-top: 20px;
	margin-left: -10px;
}

#folr-left>span:first-child {
	font-size: 15px;
	color: #ffbb53;
	font-weight: bold;
}

#folr-left>span:nth-child(2) {
	color: #aaaaaa;
	font-size: 10px;
	font-weight: bold;
}

/*第五部分*/
.m-fifpart {
	width: 400px;
	height: 550px;
	background: #fff;
	margin-left: -15px;
	margin-top: 10px;
}

/*标题*/
.m-name {
	height: 50px;
	font-size: 23px;
	/*font-weight: bold;*/
	text-align: left;
	padding-top: 10px;
}

/*左*/
#fifline-l {
	background: white;
}

/*中*/
#fifline-m {
	background: white;
}

/*右*/
#fifline-r {
	background: white;
}

/*整行*/
#fifpart-firline {
	background: white;
	width: 400px;
	height: 100px;
	margin-left: 0px;
}

/*正方形*/
.fifpart-square1 {
	width: 90px;
	height: 90px;
	background: #505458;
	margin-left: -5px;
}

/*梯形*/
.fifthpart-para1 {
	width:80px;
    height:0;
    border-width:0 20px 20px 20px;
    border-style:none solid solid;
    border-color:transparent transparent #00bca6;
    transform: rotate(-45deg);
    font-size: 5px;
    color: white;
    font-weight: bold;
    margin-top: -78px;
    margin-left: -24px;
}

#fifline-m>span:first-child {
	color: black;
	font-size: 15px;
}

#fifline-m>span:nth-child(2) {
	color: #34383c;
	font-size: 10px;
}

#fifline-m>span:nth-child(3) {
	color:#00bca6 ;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 5px;
}

#fifline-m>span:nth-child(4) {
	color: #00bca6;
	font-size: 10px;
	/*font-size: 15px;*/
}

#fifline-m>span:nth-child(5) {
	color: #34383c;
	font-size: 10px;
	/*font-size: 15px;*/
}

/*圆角矩形*/
.fifpart-firrec {
	width: 50px;
	height: 20px;
	border:2px solid #ffbb53;
	border-radius: 5px;
	color: #ffbb53;
	text-align: center;
	font-size: 10px;
	margin-top: -25px;
	margin-left: 60px;
}

/*右*/
#fifline-r {
	font-size: 10px;
	color: #34383c;
	margin-top: 75px;
	height: 20px;
	text-align: right;
}

/*最后一部分*/
.m-lastpart {
	width: 400px;
	margin-left: -15px;
	height: 50px;
	background: #8fc7ea;
	color: #2ebada;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 20px;
}

.m-lastpart>span:nth-child(2) {
	margin-left: 280px;
}



/*电脑*/
#computer {
	margin-top: 500px;
	background: #8fc7ea;
	height: 800px;
}

/*第一部分*/
#m-fpart {
	height: 90px;
	background: #008def;
}

/*登录*/
#user1 {
	font-size: 15px;
	text-align: right;
	margin-top: 20px;
	margin-left: -40px;
	color: white;
}

.m-fpart-line1 {
	width: 2px;
	height: 25px;
	background: #8fc7ea;
	margin-left: 1060px;
	margin-top: 20px;
}

/*注册*/
#user2 {
	font-size: 15px;
	margin-left: 1060px;
	margin-top: -24px;
	color: white;
}

/*菜单*/
#p-menu {
	font-size: 15px;
	margin-top: -20px;
}

/*首页*/
#p-menu>span:first-child {
	background: #0067b0;
	height: 20px;
	width: 60px;
	margin-left: 90px;
	display: inline-block;
	text-align: center;
	color: white;
	border-radius: 3px;
}

/*讲座*/
#secp {
	width: 80px;
	background: rgba(0,0,0,0);
	display: inline-block;
	font-weight: normal;
	margin-left: 60px;
}

/*悦读*/
#p-menu>span:nth-child(3) {
	height: 20px;
	width: 60px;
	margin-left: 60px;
	display: inline-block;
	text-align: center;
	color: white;
}

/*创意榜*/
#p-menu>span:nth-child(4) {
	height: 20px;
	width: 60px;
	margin-left: 60px;
	display: inline-block;
	text-align: center;
	color: white;
}

/*搜索框*/
#textbg {
	display: inline-block;
	width: 280px;
	height: 25px;
	background: #fff;
	margin-left: 10px;
	margin-top: 6px;
	border-radius: 4px;
}

#textfc {
	width: 70px;
	height: 25px;
	font-size: 10px;
	margin-top: 0px;
	display: inline-block;
	border-radius: 0px;
	background: #eee;
	color: black;
}

#u-find {
	display: inline-block;
	margin-top: 5px;
	color: #ccc;
	margin-left: 180px;
}

/*第二部分*/
#m-spart {
	height: 300px;
	background: #fff;
	color: #6f6f6f;
}

/*长方形*/
.u-rectangle1 {
	width: 620px;
	height: 250px;
	background: #5f5f5f;
	margin-top: 25px;
	margin-left: 50px;
}

/*右边部分*/
#m-spart-right {
	padding-top: 40px;
	width: 370px;
	height: 250px;
	background: #ddd;
	margin-top: 25px;
	text-align: center;
	margin-left: 40px;
}

#m-spart-right>span:first-child {
	font-size: 15px;
	color: #000;
}

/*圆角矩形*/
.u-rectangle2 {
	width: 170px;
	height: 30px;
	background: #008def;
	margin-top: 20px;
	margin-left: 85px;
	border-radius: 4px;
}

/*虚线*/
.u-dline {
	width: 300px;
	height: 2px;
	border:1px dashed #aaa;
	border-width: 2px;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin-top: 50px;
	margin-left: 20px;
}

#m-spart-right>span:nth-child(4) {
	color: #008def;
	font-size: 18px;
}

#m-spart-right>span:nth-child(5) {
	padding-right: 90px;
}

#m-spart-right>span:nth-child(9) {
	padding-right: 90px;
}

#m-spart-right>span:nth-child(6) {
	color: #008def;
	font-size: 18px;
}

#m-spart-right>span:nth-child(8) {
	color: #008def;
	font-size: 18px;
}

#m-spart-right>span:nth-child(10) {
	color: #008def;
	font-size: 18px;
}

/*第三部分*/
.m-tpart {
	height: 30px;
	background: #fff;
}

/*左边*/
#m-tpart-left {
	padding-left: 65px;
	font-size: 18px;
	font-weight: bold;
}

/*右边*/
#m-tpart-right {
	/*margin-left: -10px;*/
	padding-left: 40px;
	font-size: 18px;
	/*font-weight: bold;*/
}

#m-tpart-right>span:first-child {
	font-weight: bold;
}

#m-tpart-right>span:first-child+span:nth-child(2) {
	margin-left: 260px;
}

#m-tpart-right>span:nth-child(2) {
	font-size: 15px;
}

#m-tpart-right>span:nth-child(3) {
	font-size: 15px;
}

#m-tpart-right>span:nth-child(2)+span:nth-child(3) {
	margin-left: 10px;
}

/*第四部分*/
#m-ffpart {
	height: 1300px;
	background: #fff;
}

/*整个左边*/
#m-fpart-left {
	padding-left: 80px;
}

/*第一行*/
/*左边*/
#m-flf-l {
	height: 200px;
	border:2px solid #bbb;
	padding-top: 20px;
	display: inline-block;
	padding-left: 10px; 
}

#m-flf-l>span:nth-child(1) {
	font-weight: bold;
}

#m-flf-l>span:nth-child(2) {
	/*font-weight: bold;*/
	display: inline-block;
	width: 390px;
	word-wrap: break-word;
	text-indent:24px;
	margin-top: 10px;
	margin-bottom: 5px; 
}

#m-flf-l>span:nth-child(3) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

/*短线*/
.u-sline {
	width: 2px;
	height: 15px;
	display: inline-block;
	background: #3f4f9a;
	margin-bottom: -3px;
	margin-left: 5px;
	margin-right: 5px;
}

#m-flf-l>span:nth-child(5) {
	display: inline-block;
	margin-top: 50px;
	color: #6f6f6f;
	font-size: 10px;
}

/*右边*/
#m-flf-r {
	display: inline-block;
	height: 200px;
	border:2px solid #bbb;
	border-left: none;
	padding-top: 10px;
}

.u-fprec1 {
	width: 175px;
	height: 108px;
	background: #5f5f5f;
	margin-bottom: 5px;
}

#m-flf-r>span:nth-child(2) {
	font-weight: bold;
}

#m-flf-r>span:nth-child(3) {
	display: inline-block;
	margin-top: 25px;
	color: #6f6f6f; 
	font-size: 10px;
}

#m-flf-r>span:nth-child(5) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}


/*第二行*/
/*左边*/
#m-fls-l {
	height: 215px;
	border:2px solid #bbb;
	padding-top: 20px;
	display: inline-block;
	border-top: none;
}

/*ppt*/
.u-ppt {
	width: 40px;
	height: 18px;
	background: #ff6640;
	text-align: center;
	border-radius: 3px; 
	font-weight: bold;
	color: #fff;
}

#m-fls-l>span:nth-child(3) {
	font-weight: bold;
}

#m-fls-l>span:nth-child(4) {
	margin-top: 10px;
	color: #6f6f6f; 
	font-size: 10px;
	display: inline-block;
}

#m-fls-l>span:nth-child(6) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

/*中间*/
#m-fls-m {
	height: 215px;
	border:2px solid #bbb;
	padding-top: 20px;
	display: inline-block;
	border-top: none;
	border-left: none;
}

#m-fls-m>span:nth-child(3) {
	font-weight: bold;
}

#m-fls-m>span:nth-child(4) {
	margin-top: 10px;
	color: #6f6f6f; 
	display: inline-block;
	font-size: 10px;
}

#m-fls-m>span:nth-child(6) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px; 
}

/*右边*/
#m-fls-r {
	height: 215px;
	border:2px solid #bbb;
	padding-top: 20px;
	display: inline-block;
	border-top: none;
	border-left: none;
}

#m-fls-r>span:nth-child(3) {
	font-weight: bold;
}

#m-fls-r>span:nth-child(4) {
	margin-top: 10px;
	color: #6f6f6f; 
	font-size: 10px;
	display: inline-block;
}

#m-fls-r>span:nth-child(6) { 
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

/*第三行*/
#m-tpart {
	background: white;
}

.u-fprec2 {
	width: 250px;
	height: 150px;
	background: #5f5f5f;
	margin-left: 8px;
	margin-bottom: 5px;
}

/*左边*/
#m-flt-l {
	height: 250px;
	border:2px solid #bbb;
	border-top: none;
	padding-top: 20px;
	display: inline-block;
	padding-left: 20px; 
}

#m-flt-l>span:nth-child(2) {
	font-weight: bold;
	margin-left: 7px; 
}

#m-flt-l>span:nth-child(3) {
	display: inline-block;
	margin-top: 25px;
	margin-left: 7px;
	color: #6f6f6f; 
	font-size: 10px;
}

#m-flt-l>span:nth-child(5) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

/*右边*/
#m-flt-r {
	height: 250px;
	border:2px solid #bbb;
	border-top: none;
	border-left: none;
	padding-top: 20px;
	display: inline-block;
	padding-left: 20px; 
}

#m-flt-r>span:nth-child(2) {
	font-weight: bold;
	margin-left: 7px; 
}

#m-flt-r>span:nth-child(3) {
	display: inline-block;
	margin-top: 25px;
	margin-left: 7px;
	color: #6f6f6f; 
	font-size: 10px;
}

#m-flt-r>span:nth-child(5) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

/*第四行*/
/*左边*/
#m-flff-l {
	height: 215px;
	border:2px solid #bbb;
	padding-top: 20px;
	display: inline-block;
	border-top: none;
}

#m-flff-l>span:nth-child(3) {
	margin-left: -42px;
	font-weight: bold;
}

#m-flff-l>span:nth-child(4) {
	margin-top: 30px;
	color: #6f6f6f; 
	font-size: 10px;
	display: inline-block;
}

#m-flff-l>span:nth-child(6) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

/*中间*/
#m-flff-m {
	height: 215px;
	border:2px solid #bbb;
	padding-top: 20px;
	display: inline-block;
	border-top: none;
	border-left: none;
}

#m-flff-m>span:nth-child(3) {
	margin-left: -42px;
	font-weight: bold;
}

#m-flff-m>span:nth-child(4) {
	margin-top: 30px;
	color: #6f6f6f; 
	font-size: 10px;
	display: inline-block;
}

#m-flff-m>span:nth-child(6) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

/*右边*/
#m-flff-r {
	height: 215px;
	border:2px solid #bbb;
	padding-top: 20px;
	display: inline-block;
	border-top: none;
	border-left: none;
}

#m-flff-r>span:nth-child(3) {
	margin-left: -42px;
	font-weight: bold;
}

#m-flff-r>span:nth-child(4) {
	margin-top: 30px;
	color: #6f6f6f; 
	font-size: 10px;
	display: inline-block;
}

#m-flff-r>span:nth-child(6) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

/*播放器*/
.fa.fa-play-circle-o {
	color: #fff;
	margin-left: 25px;
	display: inline-block;
	transform: scale(2.5) translateY(-15px);
}

/*第五行*/
/*左边*/
#m-flfif-l {
	height: 180px;
	border:2px solid #bbb;
	border-top: none;
	padding-top: 15px;
	border-right: none;
}

/*右边*/
#m-flfif-r {
	height: 180px;
	border: 2px solid #bbb;
	border-left: none;
	border-top: none; 
	padding-top: 15px;
}

#m-flfif-r>span:nth-child(1) {
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 20px;
}

#m-flfif-r>span:nth-child(2) {
	display: inline-block;
	width: 380px;
	word-wrap: break-word;
	text-indent:24px;
	margin-top: 10px;
	margin-bottom: 25px; 
}

#m-flfif-r>span:nth-child(3) {
	display: inline-block;
	margin-left: 270px;
	color: #6f6f6f;
	font-size: 10px;
}

#m-flfif-r>span:nth-child(5) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

/*第六行*/
#m-flss {
	height: 200px;
	border: 2px solid #bbb;
	border-top: none;
	padding-top: 15px;
	padding-left: 20px;
	color: #6f6f6f;
}

#m-flss>span:nth-child(1) {
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 20px;
	color: black;
}

#m-flss>span:nth-child(2) {
	display: inline-block;
	width: 580px;
	word-wrap: break-word;
	text-indent:24px;
	margin-top: 10px;
	margin-bottom: 45px; 
	color: black;
}

#m-flss>span:nth-child(3) {
	margin-left: 460px;
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

#m-flss>span:nth-child(5) {
	font-size: 10px;
	color: #6f6f6f;
	margin-top: 5px;
}

/*第四部分右边*/
#m-fpart-right {
	padding-left: 40px;
}

/*第一个和第二个*/
.m-fr-tm {
	width: 370px;
	height: 260px;
	border: 2px solid #bbb;
	margin-left: px;
	border-bottom: 5px solid #008def;
	margin-bottom: 20px;
	padding-left: 23px;
	color: #5f5f5f;
}

.u-frrec1 {
	width: 320px;
	height: 120px;
	background: #5f5f5f;
	margin-top: -20px;
}

/*梯形*/
.u-frpar {
	width:120px;
    height:0;
    border-width:0 20px 20px 20px;
    border-style:none solid solid;
    border-color:transparent transparent #008def;
    transform: rotate(45deg);
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-left: 249px;
}

.m-fr-tm>span:nth-child(3) {
	font-size: 15px;
	font-weight: bold;
	color: black;
}

.m-fr-tm>span:nth-child(4) {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 10px;
}

.m-fr-tm>span:nth-child(5) {
	margin-top: 5px;
	margin-bottom: 5px;
}

.m-fr-tm>span:nth-child(6) {
	display: inline-block;
	font-size: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.m-fr-tm>span:nth-child(8) {
	display: inline-block;
	font-size: 10px;
}

/*第三个*/
.m-fr-b {
	width: 370px;
	height: 230px;
	border: 2px solid #bbb;
	margin-bottom: 20px;
	padding-left: 23px;
	padding-top: 20px;
	font-size: 10px;
	color: #5f5f5f;
}

.m-fr-b>span:nth-child(1) {
	font-size: 20px;
}

.m-fr-b>span:nth-child(2) {
	font-size: 20px;
	color: #008def;
	display: inline-block;
	margin-left: -4px;
}

.m-fr-b>span:nth-child(3) {
	margin-left: 170px;
	margin-right: 5px;
}

.u-dline2 {
	width: 320px;
	height: 2px;
	border:1px dashed #aaa;
	border-width: 2px;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin-top: 20px;
}

.u-frrec2 {
	width: 200px;
	height: 100px;
	background: #5f5f5f;
	margin-top: 20px;
	margin-left: 60px;
}

.u-ffrec3 {
	width: 200px;
	height: 30px;
	background: #3f3f3f;
	margin-top: -20px;
	margin-left: 60px;
	color: white;
	font-size: 15px;
	text-align: center;
	padding-top: 5px;
}
